<div>

<h3>echate una birra</h3>
<p>...</p>

<ol>
{{#each beersArr}}

<li>{{this.name}}
<img src="{{this.image_url}}" alt="beer">
{{this.description}}
{{this.tagline}}</li>



{{/each}}

</ol>


</div>