/*
white: #f7f9f9;
light-blue: #2081c3;
dark-blue: #0a2c42;
grey: #bfbfbf;
*/




body{
    background-color: grey;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight:bolder;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    padding: 5vh 10vw;
    
}

nav{
margin-top: 0vh;
margin-bottom:1vh ;
padding-top: 3vh;
position: fixed;
top:0;
width: 100%;
display: flex;
justify-content:flex-start;
background-color: rgb(54, 122, 200);
padding-bottom: 2vh;
letter-spacing: 2px;
}

nav a{
    text-decoration: none;
    color:white;
    padding: 1vw;
}
#main{
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    padding-top: 10vh;
    
    
}
footer{
margin-bottom: 0;
padding-bottom: 3vh;
position: fixed;
bottom:0;
width: 100%;
display: flex;
justify-content:left;
background-color: rgb(4, 4, 71);
padding: 2vw;

}

.button{
    background-color: rgb(54, 122, 200);
    color: white;
    border-style: none;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
   font-weight: bold;
      
}

.button:active {
    background-color:rgb(4, 4, 71);
    box-shadow: 0 5px #666;
    transform: translateX(2px);
  }

